<article>
  <div class="md:flex bg-slate-100 rounded-xl mt-8 p-8 md:p-0 dark:bg-slate-800 max-w-xl">
    {{ if .Params.Image }}
    <div>
      <img 
        class="rounded-lg shadow-xl  sm:h-48 sm:w-48 sm:object-cover object-center" 
        src="{{ .Params.Image }}"
        alt="" 
      />
    </div>
    {{ end }}
    <div class="px-6 md:px-4 text-center md:text-left space-y-4">
      <h2 class="flex items-center mt-0 text-xl font-semibold text-gray-600">
        {{ with .Params.externalUrl }}
          <a
            class="decoration-primary-500 hover:underline hover:underline-offset-2 text-neutral-800 dark:text-neutral"
            href="{{ . }}"
            target="_blank"
            rel="external"
            >{{ $.Title | emojify }}</a
          >
          <span
            class="-mt-2 text-xs cursor-default text-neutral-400 dark:text-neutral-500"
            title="{{ i18n "list.externalurl_title" }}"
          >
            &#8599;
          </span>
        {{ else }}
          <a
            class="decoration-primary-500 hover:underline hover:underline-offset-2 text-neutral-800 dark:text-neutral"
            href="{{ .RelPermalink }}"
            >{{ .Title | emojify }}</a
          >
        {{ end }}
        {{ if and .Draft .Site.Params.article.showDraftLabel }}
          <div class="ltr:ml-2 rtl:mr-2">
            {{ partial "badge.html" (i18n "article.draft" | emojify) }}
          </div>
        {{ end }}
        {{ if templates.Exists "partials/extend-article-link.html" }}
          {{ partial "extend-article-link.html" . }}
        {{ end }}
      </h2>
      {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
      <div class="py-1 prose dark:prose-invert text-gray-500">
        {{ .Summary | emojify }}
      </div>
      {{ end }}
      <div class="text-sm text-gray-400 dark:text-neutral-400">
        {{ partial "article-meta.html" . }}
      </div>
    </div>
  </div>
</article>
